<div id="body">
    <button mat-button style="margin-right: 10px;" color="warn">Warning!</button>
    <button mat-raised-button color="accent">Primary</button>

    <button mat-icon-button aria-label="Example icon button with a heart icon">
        <mat-icon fontIcon="favorite">open_in_new</mat-icon>
    </button>

    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu ico      n">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>


</div>