<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu ico      n">
        <mat-icon routerLink="/">home</mat-icon>
    </button>

    <span class="example-spacer"></span>

    <div style="display: flex; gap: 10px;">
        <button mat-raised-button routerLink="/login">Login</button>
        <button mat-raised-button routerLink="/register">Register</button>
        <button mat-raised-button routerLink="/profile">Profile</button>
        <button mat-raised-button routerLink="/aboutus">About Us</button>
        <button mat-raised-button routerLink="/table">Table</button>
        <button mat-raised-button routerLink="/form">Form</button>
        <button mat-raised-button routerLink="/material">MaterialUI</button>
    </div>


</mat-toolbar>





<router-outlet></router-outlet>